<div *ngIf="movies">
  <div class="selection" *ngIf="!selected">

    <div class="container">
      <div class="card filter">

      <div class="card-header p-0">
        <h2 class="mb-0">
          <button 
            class="btn btn-block text-center"
            [ngClass]="{'btn-light': !isFiltered(), 'btn-secondary': isFiltered()}"
            type="button"
            data-toggle="collapse"
            data-target="#genres"
          >Genres</button>
        </h2>
      </div>

      <div id="genres" class="container collapse mt-3 mb-2">
        <div class="row justify-content-center">
          <ng-container *ngFor="let genre of genres()">
            <div class="col-auto px-1">
              <button 
                type="button"
                class="btn btn-lg btn-outline-secondary mb-2 px-4"
                title="{{ genre }}"
                [ngClass]="{ active: isFiltered(genre) }"
                (click)="toggleFilter(genre)"
              >{{ genre_emoji(genre) }}</button>
            </div>
          </ng-container>
        </div>
        <button
          class="btn btn-sm btn-outline-secondary btn-block text-center"
          [ngClass]="{ active: !isFiltered() }"
          (click)="resetFilter()"
        >All
        </button>

        <div class="text-center">
          <small class="text-muted">
            Options: {{ count() }}
          </small>
        </div>
      </div>

      </div>

      <img 
        src="assets/img/popcorn.png"
        class="img-fluid d-block mx-auto randomizer-button"
        (click)="select()"
      >

    </div>

  </div>

  <div *ngIf="selected">

    <div 
      class="container-fluid text-center selected"
      [style]="'background-color: '+genre_color(selected.genre)+';'"
    >
      <h1 class="pt-5 mb-3 logo">{{ genre_emoji(selected.genre) }}</h1>
      <h1>{{ selected.title }}</h1>
      <h6 class="text-muted mb-3">{{ selected.genre }}</h6>

      <div class="btn-group">
        <a 
          class="btn btn-outline-danger"
          (click)="reset()"
        >No</a>
        <a 
          class="btn btn-outline-success"
          href="http://www.google.com/search?q={{ selected.title }}"
          target="_blank"
        >Go</a>
      </div>
    </div>
  </div>

</div>

<div *ngIf="!movies">
  <div class="loading spinner-grow" role="status"></div>
</div>
